<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Logo hoặc tiêu đề -->
        <a class="navbar-brand" href="{{ url_for('index') }}">E-commerce Website</a>
        <!-- Nút thu gọn menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nội dung điều hướng -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Các mục bên trái -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/booking">Đặt vé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sale">Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Hỗ trợ</a>
                </li>


            </ul>

            <!-- Các mục bên phải -->
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/">
                        <img src="{{ current_user.avatar }}" width="25" class="rounded-circle"/>
                        Chào {{ current_user.username }}.
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/logout">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/register">Đăng ký</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" href="/cart">&#128722;
                        <span class="badge bg-danger cart-counter">{{ cart_stats.total_quantity }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
